:root {
	color-scheme: dark;
	font-family: 'Cormorant', serif;
	--text-primary: #f7e7ce;

	/* Base font size for small devices */
	--base-font-size: 2vw;

	/* Scaling factors */
	--scale-ratio: 1.1vw;
}

@media (prefers-color-scheme: light) and (prefers-color-scheme: dark) {
	:root {
		--text-primary: #f7e7ce;
		--background: #0d0d0d;
		--shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px 0px;
	}
}

* {
	margin: unset;
	padding: unset;
	font: inherit;
	background: none;
	color: inherit;
	border: none;
	text-align: inherit;
	line-height: normal;
	text-decoration: unset;
}

@media (min-width: 1400px) {
	:root {
		--base-font-size: calc(var(--base-font-size) - var(--scale-ratio));
	}
}
